/*body*/

body {
    color: aliceblue;
}


/*div*/

#div_center {
    padding: 0 0.7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#div_upper_button {
    background-color: #202020;
}


/*img*/

img {
    width: 80vw;
}


/*textarea*/

textarea {
    width: 90vw;
}