/*body*/

body {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    color: aliceblue;
}


/*input*/

input[type="number"] {
    width: 5rem;
}


/*div*/

#div_page_button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    padding: 0 0.7rem;
}

#div_center {
    overflow: scroll;
    padding: 0 0.7rem;
    padding-bottom: 4rem;
    height: 80vh;
}