/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+SC&family=Noto+Sans+TC&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Sans SC', sans-serif;
}*/


/*body*/

body {
    height: 100vh;
    background-color: #202020;
}


/*scrollbar*/

::-webkit-scrollbar {
    display: none;
}


/*draggable*/

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}


/*shadow*/

.drop_shadow {
    -webkit-filter: drop-shadow(0 0 0.2rem #000000);
    filter: drop-shadow(0 0 0 0.2rem #000000);
}


/*image button*/

.img_button {
    -webkit-filter: drop-shadow(0 0 0.2rem #000000);
    filter: drop-shadow(0 0 0 0.2rem #000000);
    cursor: pointer;
    margin: 0 0.2rem;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    opacity: 0.5;
}

.img_button:hover {
    padding: 0;
    opacity: 1;
    background-color: #0074d9;
}

.float_right {
    margin: 0 0.3rem;
    float: right;
}

#img_button_drag:hover {
    padding: 0.2rem;
    opacity: 0.5;
    background-color: #00000000;
}

#img_button_close:hover,
#img_button_backspace:hover,
#img_button_clear:hover {
    background-color: #D9534F;
}


/*div*/

#div_upper_button,
#div_lower_button {
    -webkit-user-select: none;
    user-select: none;
    padding: 0 0.7rem;
    padding-top: 1rem;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 4rem;
}

#div_upper_button {
    top: 0;
    left: 0;
}

#div_lower_button {
    bottom: 0;
    left: 0;
}


/*input

input {
    border-radius: 0.2rem;
}*/


/*select*/

select {
    padding: 0.2rem;
    /*border-radius: 0.2rem;*/
}