/*body*/
body {
    width: 50vw;
    padding: 0.7rem;
    background-color: #202020;
    color: aliceblue;
}

li {
    padding: 0.7rem;
}

img {
    margin: 0.7rem;
    border: 0.1rem solid #808080;
}
