/*body*/
body {
    width: 40vw;
    padding: 1.4rem;
    background-color: #404040;
    color: aliceblue;
}

li {
    padding: 1.4rem;
}

img {
    max-width: 40vw;
    margin: 1.4rem;
    border: 0.1rem solid #808080;
}

p,
#span_warning {
    font-weight: bolder;
}
