body {
    width: 40vw;
    padding: 1.4rem;
    padding-top: 0rem;
    background-color: #303030;
    color: aliceblue;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    text-decoration: underline;
}

li {
    padding: 1.4rem;
}

img {
    max-width: 40vw;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    border: 0.1rem solid #808080;
}

p,
#span-warning {
    font-weight: bolder;
}

.div-return {
    position: sticky;
    top: 0;
    z-index: 1;
    width: fit-content;
    padding-top: 0.7rem;
    background-color: #303030;
}
