body {
    color: aliceblue;
}

input[type='checkbox'] {
    margin-left: 1rem;
}

#div_center {
    padding: 0 0.7rem;
    padding-top: 4rem;
}

img {
    width: 80vw;
}

textarea {
    width: 90vw;
}
