body {
    color: #ffffff;
}

.flex_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.flex_left,
.flex_right {
    width: 45vw;
}

#div_center {
    padding: 0 0.7rem;
    padding-top: 4rem;
}

#div_text1,
#div_text2 {
    word-wrap: break-word;
    font-size: large;
}

select {
    margin-right: 0.5rem;
}

textarea {
    width: 40vw;
}
