body {
    /*background-color: #00000022;*/
    background-color: #00000000;
    color: #ffffff;
    border: 0.1rem #808080 solid;
}

header {
    background-color: #000000bb;
    border: 0.1rem #808080 solid;
}

#canvas_select {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
